:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-thead>tr>td {
    background: rgba(228, 238, 253, 1);
    font-weight: 400;
    font-size: 14px;

}

:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-tbody>tr>th,
:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-tbody>tr>td,
:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper tfoot>tr>th,
:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper tfoot>tr>td {
    padding: 10px 10px
}


.ant-table-cell-divider-right::after,
.ant-table-cell-divider-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 4.5em;
    background-color: #959595;
    z-index: 1;
}

.ant-table-cell-divider-right::after {
    right: 0;
}

.ant-table-cell-divider-left::before {
    left: 0;
}



.divider-text {
    position: relative;
}

.divider-line {
    top: 50%;
    right: 100%;
    width: 100%;
    height: 0.8px;
    background-color: #959595;
}

.divider-column-parts {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: -10px;
    margin-top: 4px;

}

.divider-column-parts>div {
    width: 100%;
}

.clickableText {
    color: rgba(0, 87, 255, 1);
    text-decoration: underline;
    cursor: pointer;
}