/* :where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-thead>tr>th,
:where(.css-dev-only-do-not-override-17seli4).ant-table-wrapper .ant-table-thead>tr>td {
    background: rgba(228, 238, 253, 1);
    font-weight: 400;
    font-size: 14px;

}
 */


.ant-table-cell-divider-right::after,
.ant-table-cell-divider-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 5rem;
    background-color: #959595;
    z-index: 1;
}

.ant-table-cell-divider-right::after {
    right: 0;
}

.ant-table-cell-divider-left::before {
    left: 0;
}


.divider-text {
    position: relative;
}

.divider-line {
    top: 50%;
    right: 100%;
    width: 100%;
    height: 0.8px;
    background-color: #959595;
}

.divider-column-parts {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: -10px;
    margin-top: 4px;

}

.divider-column-parts>div {
    width: 100%;
}

.clickableText {
    color: rgba(0, 87, 255, 1);
    text-decoration: underline;
    cursor: pointer;
}

.custom-table-container .ant-table-thead>tr>th {
    background-color: rgba(228, 238, 253, 1);
}



.custom-table-container {
    max-height: 240px;
    overflow-y: auto;
}

.ant-table-wrapper {
    border-radius: 0px 0px 0px 20px;
    background: #E4EEFD;
}

.ant-spin-container {
    background: rgb(250, 250, 250);
}

.ant-table-wrapper::-webkit-scrollbar {
    width: 13px;
    height: 588px;
    flex-shrink: 0;
}

.ant-table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(255, 255, 255, 1);
    height: 0.2rem;
    border: 3px solid #FFF;
}

.ant-table-wrapper::-webkit-scrollbar {
    width: 14px;
}

.ant-table-wrapper::-webkit-scrollbar-track {
    background: rgba(228, 238, 253, 1);
}

.ant-table-wrapper::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 4px solid rgba(228, 238, 253, 1);
}